@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Pixelify+Sans:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.card{
  @apply border rounded p-2 border-orange-800 bg-opacity-65 bg-orange-300
  hover:scale-105 transition-all duration-300 md:w-[80%] sm:w-full shadow-xl ;
}
.card-links{
  @apply border rounded p-2 w-fit content-center border-orange-800 bg-opacity-65 flex bg-orange-300
  hover:scale-105 transition-all duration-300 shadow-xl items-center justify-center;
}

h1 {
  font-family: "Pixelify Sans";
}
h2{
  font-family: "Bungee Spice";
}
p{
  font-family: "Montserrat";
}
::-webkit-scrollbar {
  width: 15px;

  background: rgb(255, 192, 141);
}

::-webkit-scrollbar-thumb {
  
  background:  rgba(154, 52, 18, 0.555); 
  border-radius: 2px;
  height: 20px;
}
html{
  overflow-x: hidden;
}